.calendar-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-content {
  margin-top: 64px;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 64px);
}

